---
import Flair from "../helper/Flair.astro"

const { banner, title, link, openSource, category } = Astro.props

let bannerToUse = banner

if (!bannerToUse)
    bannerToUse = "/images/projects/default.png"
---

<div class="p-4 ring-1 ring-secondary-2 bg-secondary-1 rounded shadow-md shadow-black">
    <div class="flex flex-col gap-1 h-full">
        <div class="w-full h-32 xs:h-48 sm:h-60 lg:h-72">
            <a href={link} target="_blank">
                <img
                    src={bannerToUse}
                    alt={title}
                    class="w-full h-full object-cover rounded"
                />
            </a>
        </div>
        <h3 class="text-white text-xl text-center font-bold">{title}</h3>
        <p class="text-sm">
            <slot />
        </p>
        <div class="grow"></div>
        <div class="flex flex-wrap gap-y-2 xs:gap-y-0 justify-between mt-8">
            <Flair className="bg-sky-600">{category}</Flair>
            {openSource && (
                <Flair className="bg-green-800">Open Source</Flair>
            )}
        </div>
        
        <div class="flex justify-center mt-4">
            <a
                href={link}
                target="_blank"
            >
                <Flair className="bg-blue-700 hover:bg-blue-600">View</Flair>
            </a>
        </div>
    </div>
</div>