---
import GithubIcon from "../assets/welcome/Github.svg"
import LinkedinIcon from "../assets/welcome/Linkedin.svg"
import YoutubeIcon from "../assets/welcome/Youtube.svg"

import Link from "../components/welcome/Link.astro"

import EmailMe from "../components/welcome/EmailMe.astro"
---

<section class="min-h-screen bg-gradient-to-br from-indigo-900 to-indigo-950 flex items-center justify-center">
    <div>
        <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-1">
                <h1 class="text-white font-extrabold text-4xl">Christian Deacon</h1>
                <h2 class="text-center text-blue-300 font-bold text-xl">DevOps Engineer</h2>
                <h3 class="text-center text-gray-200 text-sm italic">10+ Years Exp</h3>
            </div>
            <div class="flex gap-6 justify-center">
                <Link href="https://github.com/gamemann" newTab={true}>
                    <img
                        src={GithubIcon.src}
                        class="w-10 h-10"
                    />
                </Link>
                <Link href="https://www.linkedin.com/in/christiandeacon/" newTab={true}>
                    <img
                        src={LinkedinIcon.src}
                        class="w-10 h-10"
                    />
                </Link>
                <Link href="https://www.youtube.com/@cdeaconado" newTab={true}>
                    <img
                        src={YoutubeIcon.src}
                        class="w-10 h-10"
                    />
                </Link>
            </div>
            <div class="flex justify-center">
                <EmailMe />
            </div>
        </div>
    </div>
</section>