---
import GithubIcon from "../assets/welcome/Github.svg"
import LinkedinIcon from "../assets/welcome/Linkedin.svg"
import YoutubeIcon from "../assets/welcome/Youtube.svg"

import Link from "../components/welcome/Link.astro"

import WelcomeTitle from "./react/Title"
import Flair from "./helper/Flair.astro"
---

<section id="welcome" class="flex items-center justify-center min-h-screen">
    <div>
        <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-1">
                <WelcomeTitle client:load />
                <h2 class="text-blue-300 text-center font-bold text-xl intersect:animate-scale-in-fast intersect-once">DevOps Engineer</h2>
                <h3 class="text-gray-100 text-center text-sm italic intersect:animate-scale-in-slow intersect-once">10+ Years Experience</h3>
            </div>
            <div class="flex gap-6 justify-center">
                <Link href="https://github.com/gamemann" newTab={true}>
                    <img
                        src={GithubIcon.src}
                        class="w-10 h-10"
                    />
                </Link>
                <Link href="https://www.linkedin.com/in/christiandeacon/" newTab={true}>
                    <img
                        src={LinkedinIcon.src}
                        class="w-10 h-10"
                    />
                </Link>
                <Link href="https://www.youtube.com/@cdeaconado" newTab={true}>
                    <img
                        src={YoutubeIcon.src}
                        class="w-10 h-10"
                    />
                </Link>
            </div>
            <div class="flex justify-center intersect:motion-preset-expand intersect-once">
                <a href="mailto:christianmdeacon@gmail.com">
                    <Flair className="bg-btn-primary hover:bg-btn-primary-hover duration-100">Email Me!</Flair>
                </a>
            </div>
        </div>
    </div>
</section>