---
import Flair from "../helper/Flair.astro"

const { banner, title, link, category, source } = Astro.props

let bannerToUse = banner

if (!bannerToUse)
    bannerToUse = "/images/guide/default.png"
---

<div class="group p-4 rounded ring-1 ring-secondary-2 bg-secondary-1 shadow-md shadow-black sm:intersect:motion-preset-blur-up-lg intersect-once">
    <div class="flex flex-col gap-2 h-full">
        <div class="w-full h-32 xs:h-48 sm:h-60 lg:h-72">
            <a href={link} target="_blank">
                <img
                    src={bannerToUse}
                    alt={title}
                    class="w-full h-full object-cover rounded sm:brightness-75 sm:group-hover:brightness-100 sm:transition-all sm:duration-300"
                />
            </a>
        </div>
        <h3 class="text-white font-extrabold text-xl text-center">{title}</h3>
        <p class="text-sm">
            <slot />
        </p>
        <div class="grow"></div>
        <div class="flex flex-wrap justify-between mt-8">
            <Flair className="bg-btn-secondary">{category}</Flair>
        </div>
        <div class="flex justify-center mt-4">
            <a
                href={link}
                target="_blank"
            >
                <Flair className="bg-btn-primary hover:bg-btn-primary-hover duration-100">View</Flair>
            </a>
        </div>
    </div>
</div>
